/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
a,
textarea {
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, svg {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: bold;
}

/* /reset */
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/intro/Intro-Book.eot?") format("eot"), url("../fonts/intro/Intro-Book.woff2") format("woff2"), url("../fonts/intro/Intro-Book.woff") format("woff"), url("../fonts/intro/Intro-Book.ttf") format("truetype"), url('../fonts/intro/Intro-Book.svg#str-replace("Intro", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/intro/Intro-Regular.eot?") format("eot"), url("../fonts/intro/Intro-Regular.woff2") format("woff2"), url("../fonts/intro/Intro-Regular.woff") format("woff"), url("../fonts/intro/Intro-Regular.ttf") format("truetype"), url('../fonts/intro/Intro-Regular.svg#str-replace("Intro", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Intro";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/intro/Intro-Regular-Italic.eot?") format("eot"), url("../fonts/intro/Intro-Regular-Italic.woff2") format("woff2"), url("../fonts/intro/Intro-Regular-Italic.woff") format("woff"), url("../fonts/intro/Intro-Regular-Italic.ttf") format("truetype"), url('../fonts/intro/Intro-Regular-Italic.svg#str-replace("Intro", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/intro/Intro-Bold.eot?") format("eot"), url("../fonts/intro/Intro-Bold.woff2") format("woff2"), url("../fonts/intro/Intro-Bold.woff") format("woff"), url("../fonts/intro/Intro-Bold.ttf") format("truetype"), url('../fonts/intro/Intro-Bold.svg#str-replace("Intro", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/intro/Intro-Black.eot?") format("eot"), url("../fonts/intro/Intro-Black.woff2") format("woff2"), url("../fonts/intro/Intro-Black.woff") format("woff"), url("../fonts/intro/Intro-Black.ttf") format("truetype"), url('../fonts/intro/Intro-Black.svg#str-replace("Intro", " ", "_")') format("svg");
  font-display: swap;
}
/* settings */
a {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Intro", Arial, sans-serif;
  font-size: 16px;
}

body {
  min-width: 319px;
  background-color: #f7f3f0;
  font-family: "Intro", Arial, sans-serif;
  font-size: 16px;
}
body.lock {
  overflow: hidden;
}

@media (max-width: 500px) {
  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 501px) {
  .mobile-visible {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .tablet-hide {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .tablet-visible {
    display: none !important;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
}
.row > * {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}

.wrapper {
  width: 100%;
  max-width: 1330px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 10px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 10px;
  }
}

*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

*::-webkit-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navpage {
  padding: 200px 0 100px;
}
.navpage h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.navpage ul {
  font-size: 18px;
}
.navpage ul li {
  margin: 10px 0;
}

/* /settings */
/* btn */
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 15px 14px;
  background: transparent;
  border-width: 3px;
  border-style: solid;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn--white {
  background-color: rgba(50, 45, 41, 0.6);
  border-color: #fff;
  color: #fff;
}
.btn--white:hover {
  background-color: #fff;
  color: #4C4449;
}

/* /btn */
/* title */
.title {
  font-size: 50px;
  color: #4C4449;
  text-align: center;
}
.title__divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  fill: #8f7865;
}
.title__divider:after {
  content: "";
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 3px;
  background-color: #8f7865;
}
.title__divider svg {
  width: 35px;
  height: 35px;
  margin: 0 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.title__divider:before {
  content: "";
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 3px;
  background-color: #8f7865;
}

/* /title */
/* header */
.header {
  width: 100%;
  color: #fff;
  z-index: 11;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}
.header a {
  color: #fff;
}
.header__top {
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__top .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1500px;
}
.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  font-size: 14px;
  fill: #fff;
}
.header__address svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.header__address a {
  margin-left: 10px;
  border-bottom: 1px solid #fff;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__items li {
  margin-left: 30px;
}
.header__items li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  font-size: 16px;
  fill: #fff;
}
.header__items li a svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
@media (min-width: 769px) {
  .header__items li a {
    position: relative;
  }
  .header__items li a:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header__items li a:hover:after {
    width: 100%;
  }
}
.header__bottom {
  padding: 28px 0;
}
.header__bottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
}
.header__logo-link {
  max-width: 200px;
  margin-right: 16px;
}
.header__logo-text {
  font-size: 14px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: -14px;
  font-size: 18px;
}
.header__list li {
  margin: 0 14px;
}
@media (min-width: 769px) {
  .header__list li a {
    position: relative;
  }
  .header__list li a:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header__list li a:hover:after {
    width: 100%;
  }
}

#headerSticky.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation: showStyky 0.5s;
  animation: showStyky 0.5s;
  background-color: rgba(0, 0, 0, 0.35);
}
#headerSticky.sticky .header__top {
  margin-top: -50px;
}
#headerSticky.sticky .header__bottom {
  padding: 15px 0;
}

@-webkit-keyframes showStyky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes showStyky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* /header */
/* welcome */
.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  height: 850px;
  padding: 200px 0 90px;
  position: relative;
}
.welcome .wrapper {
  margin-top: auto;
}
.welcome__video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.welcome__video:before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.46);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.welcome__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.welcome__buttons {
  text-align: center;
  position: relative;
  z-index: 2;
}
.welcome__buttons .btn {
  min-width: 308px;
  margin: 0 8px;
}
.welcome__smoke {
  height: 260px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.welcome__smoke img {
  max-width: none;
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* /welcome */
/* bathhouse */
.bathhouse {
  padding: 20px 0;
}

/* /bathhouse */
/* footer */
/* /footer */