/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
a,
textarea {
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, svg {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: bold;
}

/* /reset */
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/intro/Intro-Book.eot?") format("eot"), url("../fonts/intro/Intro-Book.woff2") format("woff2"), url("../fonts/intro/Intro-Book.woff") format("woff"), url("../fonts/intro/Intro-Book.ttf") format("truetype"), url('../fonts/intro/Intro-Book.svg#str-replace("Intro", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/intro/Intro-Regular.eot?") format("eot"), url("../fonts/intro/Intro-Regular.woff2") format("woff2"), url("../fonts/intro/Intro-Regular.woff") format("woff"), url("../fonts/intro/Intro-Regular.ttf") format("truetype"), url('../fonts/intro/Intro-Regular.svg#str-replace("Intro", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Intro";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/intro/Intro-Regular-Italic.eot?") format("eot"), url("../fonts/intro/Intro-Regular-Italic.woff2") format("woff2"), url("../fonts/intro/Intro-Regular-Italic.woff") format("woff"), url("../fonts/intro/Intro-Regular-Italic.ttf") format("truetype"), url('../fonts/intro/Intro-Regular-Italic.svg#str-replace("Intro", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/intro/Intro-Bold.eot?") format("eot"), url("../fonts/intro/Intro-Bold.woff2") format("woff2"), url("../fonts/intro/Intro-Bold.woff") format("woff"), url("../fonts/intro/Intro-Bold.ttf") format("truetype"), url('../fonts/intro/Intro-Bold.svg#str-replace("Intro", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/intro/Intro-Black.eot?") format("eot"), url("../fonts/intro/Intro-Black.woff2") format("woff2"), url("../fonts/intro/Intro-Black.woff") format("woff"), url("../fonts/intro/Intro-Black.ttf") format("truetype"), url('../fonts/intro/Intro-Black.svg#str-replace("Intro", " ", "_")') format("svg");
  font-display: swap;
}
/* settings */
a {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Intro", Arial, sans-serif;
  font-size: 16px;
}

body {
  min-width: 319px;
  background-color: #f7f3f0;
  font-family: "Intro", Arial, sans-serif;
  font-size: 16px;
}
body.lock {
  overflow: hidden;
}

@media (max-width: 500px) {
  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 501px) {
  .mobile-visible {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .tablet-hide {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .tablet-visible {
    display: none !important;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
}
.row > * {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}
.row .gy {
  margin-top: -10px;
}
.row .gy > * {
  padding-top: 10px;
}

.wrapper {
  width: 100%;
  max-width: 1330px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 10px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 10px;
  }
}

*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

*::-webkit-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navpage {
  padding: 200px 0 100px;
}
.navpage h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.navpage ul {
  font-size: 18px;
}
.navpage ul li {
  margin: 10px 0;
}

/* /settings */
/* btn */
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 15px 14px;
  background: transparent;
  border-width: 3px;
  border-style: solid;
  outline: none;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn--white {
  background-color: rgba(50, 45, 41, 0.6);
  border-color: #fff;
  color: #fff;
  fill: #fff;
}
.btn--white:hover {
  background-color: #fff;
  color: #4C4449;
  fill: #4C4449;
}
.btn--brown {
  border-color: #8f7865;
  color: #fff;
  fill: #fff;
  opacity: 0.7;
}
.btn--brown:hover {
  opacity: 1;
}
@media (max-width: 500px) {
  .btn {
    font-size: 16px;
  }
}

/* /btn */
/* head */
.head {
  padding: 20px 0 50px;
}
.head .wrapper {
  position: relative;
}
.head__title {
  padding: 0 200px;
  font-size: 50px;
  color: #4C4449;
  text-align: center;
}
.head__title span {
  color: #8f7865;
}
.head__divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  fill: #8f7865;
}
.head__divider:after {
  content: "";
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 3px;
  background-color: #8f7865;
}
.head__divider svg {
  width: 35px;
  height: 35px;
  margin: 0 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.head__divider:before {
  content: "";
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 3px;
  background-color: #8f7865;
}
.head__more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: #8f7865;
  color: #4C4449;
  position: absolute;
  top: 20px;
  right: 20px;
}
.head__more span {
  text-decoration: underline;
}
.head__more svg {
  width: 60px;
  height: 20px;
  opacity: 0.4;
  margin-left: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.head__more:hover svg {
  opacity: 1;
}
@media (max-width: 1050px) {
  .head__title {
    padding: 0;
  }
  .head__more {
    position: static;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .head__title {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .head__title {
    font-size: 30px;
  }
}

/* /head */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 30px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -9px;
}
.hamburger-inner::after {
  bottom: -9px;
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
  -o-transition-duration: 0.075s;
  transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* header */
.header {
  width: 100%;
  color: #fff;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
}
.header a {
  color: #fff;
}
.header__top {
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__top .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1500px;
}
.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  font-size: 14px;
  fill: #fff;
  white-space: nowrap;
}
.header__address svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__address a {
  margin-left: 10px;
  border-bottom: 1px solid #fff;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__items li {
  margin-left: 30px;
}
.header__items li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  font-size: 16px;
  fill: #fff;
  white-space: nowrap;
}
.header__items li a svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (min-width: 1051px) {
  .header__items li a {
    position: relative;
  }
  .header__items li a:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header__items li a:hover:after {
    width: 100%;
  }
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__social--mobile {
  display: none;
}
.header__social-icon {
  margin-left: 12px;
  fill: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__social-icon svg {
  display: block;
  width: 15px;
  height: 15px;
}
@media (min-width: 1051px) {
  .header__social-icon:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.header__bottom {
  padding: 28px 0;
}
.header__bottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
}
.header__logo-link {
  display: block;
  max-width: 200px;
  margin-right: 16px;
}
.header__logo-text {
  font-size: 14px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: -14px;
  font-size: 18px;
}
.header__list li {
  margin: 0 14px;
}
@media (min-width: 1051px) {
  .header__list li a {
    position: relative;
  }
  .header__list li a:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header__list li a:hover:after {
    width: 100%;
  }
}
.header__hamburger {
  display: none;
}
.header__close-menu {
  display: none;
}
.header__buttons {
  display: none;
}
@media (max-width: 1400px) {
  .header__logo {
    display: block;
  }
}
@media (max-width: 1200px) {
  .header__list {
    font-size: 16px;
  }
  .header__list li {
    margin: 0 10px;
  }
}
@media (max-width: 1050px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: static;
    background-image: url(../img/mobilebg-header.webp);
    background-size: cover;
  }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background: transparent;
    padding-top: 150px;
    padding-bottom: 30px;
  }
  .header__top .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__bottom {
    width: 100%;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
  }
  .header__address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-shadow: 0px 1px 1px #000;
    margin-bottom: 30px;
  }
  .header__address a {
    margin-top: 10px;
  }
  .header__address svg {
    display: none;
  }
  .header__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header__items li {
    margin-left: 0;
    text-align: center;
  }
  .header__items li a {
    display: inline-block;
    font-size: 24px;
    text-shadow: 0px 1px 1px #000;
  }
  .header__items li a svg {
    width: 18px;
    height: 18px;
  }
  .header__price {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 30px;
  }
  .header__tel {
    width: 100%;
    margin-bottom: 30px;
  }
  .header__tel a {
    font-size: 28px !important;
  }
  .header__tel svg {
    width: 20px !important;
    height: 20px !important;
  }
  .header__whatsapp {
    width: 50%;
    margin-bottom: 30px;
  }
  .header__whatsapp a {
    color: #00A859;
    fill: #00A859 !important;
  }
  .header__callback {
    width: 50%;
    margin-bottom: 30px;
  }
  .header__callback a {
    fill: #00A859 !important;
  }
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header__buttons .btn {
    min-width: 300px;
    margin: 8px;
  }
  .header__buttons .btn:nth-child(2) {
    background-color: #00A859;
    border-color: #00A859;
  }
  .header__buttons .btn:nth-child(2):hover {
    color: #fff;
  }
  .header__hamburger {
    display: block;
    padding-right: 0;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 70px 20px 20px;
    background-color: #dad3cf;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: -500px;
    z-index: 12;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header__nav.open {
    left: 0;
  }
  .header__list {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 25px;
    overflow-y: auto;
  }
  .header__list li {
    margin: 0;
  }
  .header__list li a {
    display: block;
    padding: 10px 0;
    color: #4C4449;
  }
  .header__close-menu {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .header__close-menu:after, .header__close-menu:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #4C4449;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .header__close-menu:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .header__close-menu:before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .header__social {
    padding-top: 10px;
  }
  .header__social--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__social--desktop {
    display: none;
  }
  .header__social-icon {
    margin-left: 0;
    margin-right: 10px;
  }
  .header__social-icon svg {
    width: 24px;
    height: 24px;
    fill: #4C4449;
  }
}
@media (max-width: 500px) {
  .header__nav {
    max-width: none;
    left: -600px;
  }
  .header__items li a {
    font-size: 16px;
  }
  .header__buttons .btn {
    width: 100%;
    min-width: 0;
  }
}

@media (min-width: 1051px) {
  #headerSticky.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-animation: showStyky 0.5s;
    animation: showStyky 0.5s;
    background-color: rgba(0, 0, 0, 0.35);
  }
  #headerSticky.sticky .header__top {
    margin-top: -50px;
  }
  #headerSticky.sticky .header__bottom {
    padding: 15px 0;
  }
}

@-webkit-keyframes showStyky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes showStyky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* /header */
/* welcome */
.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  height: 850px;
  padding: 200px 0 90px;
  position: relative;
}
.welcome .wrapper {
  margin-top: auto;
}
.welcome__video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.welcome__video:before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.46);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.welcome__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.welcome__buttons {
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: -20px;
}
.welcome__buttons .btn {
  min-width: 308px;
  margin: 20px 8px 0;
  font-size: 20px;
  text-transform: uppercase;
}
.welcome__smoke {
  height: 260px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.welcome__smoke img {
  max-width: none;
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media (max-width: 500px) {
  .welcome__buttons .btn {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    min-width: 0;
    font-size: 18px;
  }
}
@media (max-width: 1050px) {
  .welcome {
    display: none;
  }
}

/* /welcome */
/* bathhouse */
.bathhouse {
  margin-bottom: 35px;
}
.bathhouse__slider {
  position: relative;
}
.bathhouse__slider #bathhouseSlider {
  padding: 10px;
  margin: -10px;
  overflow: hidden;
}
.bathhouse__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 610px;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.bathhouse__item:before {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #000), to(transparent));
  background: -o-linear-gradient(bottom, #000 10%, transparent);
  background: linear-gradient(to top, #000 10%, transparent);
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.bathhouse__item:hover {
  -webkit-box-shadow: 0 0 0 10px #dad3cf;
  box-shadow: 0 0 0 10px #dad3cf;
}
.bathhouse__item:hover .bathhouse__parameters > .row {
  margin-bottom: 0;
}
.bathhouse__item:hover .bathhouse__img img:nth-child(2) {
  opacity: 1;
}
.bathhouse__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.bathhouse__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.bathhouse__img img:nth-child(2) {
  opacity: 0;
}
.bathhouse__content {
  padding: 20px;
  margin-top: auto;
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
}
.bathhouse__title {
  font-size: 35px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
  margin-bottom: 12px;
}
.bathhouse__persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  fill: #fff;
  margin-bottom: 17px;
}
.bathhouse__persons svg {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}
.bathhouse__parameters {
  overflow: hidden;
}
.bathhouse__parameters > .row {
  padding: 10px 0 20px;
  margin-bottom: -70px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.bathhouse__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.bathhouse__time .row {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.bathhouse__time-btn {
  width: 50%;
}
.bathhouse__time-btn .btn {
  width: 100%;
  font-size: 16px;
  padding: 2px 10px;
}
.bathhouse__time-btn .btn svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.bathhouse__time-btn input {
  visibility: hidden;
  position: absolute;
}
.bathhouse__time-btn input:checked ~ .btn {
  background-color: #aa181b;
  border-color: #aa181b;
  opacity: 1;
}
.bathhouse__price {
  width: 50%;
}
.bathhouse__buttons {
  font-size: 18px;
}
.bathhouse__btn {
  width: 50%;
}
.bathhouse__btn .btn {
  width: 100%;
  padding: 10px 15px;
}
.bathhouse__btn .btn:nth-child(1) {
  margin-right: 12px;
}
.bathhouse__arrow {
  color: #8f7865;
}
.bathhouse__arrow--prev {
  left: -50px;
}
.bathhouse__arrow--next {
  right: -50px;
}
@media (max-width: 1400px) {
  .bathhouse__arrow {
    color: #fff;
  }
  .bathhouse__arrow--prev {
    left: 10px;
  }
  .bathhouse__arrow--next {
    right: 10px;
  }
}
@media (max-width: 768px) {
  .bathhouse__item {
    height: 500px;
  }
  .bathhouse__title {
    font-size: 26px;
  }
  .bathhouse__parameters > .row {
    margin-bottom: 0;
  }
  .bathhouse__time .btn {
    font-size: 12px;
  }
  .bathhouse__time .btn svg {
    width: 10px;
    height: 10px;
  }
  .bathhouse__price {
    font-size: 14px;
  }
  .bathhouse__btn .btn {
    font-size: 16px;
  }
}

/* /bathhouse */
/* sales */
.sales {
  margin-bottom: 35px;
}
.sales__slider {
  width: 66.6666666667%;
  overflow: hidden;
  position: relative;
}
.sales__banner {
  height: 420px;
  position: relative;
}
.sales__content {
  max-width: 340px;
  height: 100%;
  padding: 30px 10px 60px 50px;
  background-color: #aa181b;
  color: #fff;
  position: relative;
  z-index: 2;
}
.sales__content:after {
  content: "";
  display: block;
  width: 200px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #aa181b), color-stop(50.5%, transparent));
  background: -o-linear-gradient(left top, #aa181b 50%, transparent 50.5%);
  background: linear-gradient(to right bottom, #aa181b 50%, transparent 50.5%);
  position: absolute;
  top: 0;
  left: 100%;
}
.sales__title {
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 17px;
}
.sales__text {
  font-size: 25px;
  margin-bottom: 20px;
}
.sales__link {
  display: block;
  font-size: 35px;
  text-decoration: underline;
  color: #fff;
}
.sales__link:hover {
  color: #dad3cf;
}
.sales__banner-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 330px;
  right: 0;
}
.sales__banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.sales__pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #dad3cf;
}
.sales__pagination .swiper-pagination-bullet-active {
  background-color: #4C4449;
}
.sales__images {
  width: 33.3333333333%;
}
.sales__images .row {
  height: 100%;
}
.sales__images-col {
  width: 100%;
  height: 50%;
}
.sales__images-col:nth-child(1) {
  padding-bottom: 10px;
}
.sales__img {
  width: 100%;
  height: 100%;
}
.sales__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.sales__img--sertificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #679faf;
  font-size: 35px;
  color: #fff;
  text-align: center;
}

/* /sales */
/* footer */
/* /footer */