// footer
footer.footer 
  .footer__top 
    .wrapper
      .footer__col 
        .footer__logo 
          a(href="#").footer__logo-link 
            img(src="img/3blogo-dark.svg", alt="")
          .footer__logo-text © 2022 Банный комплекс «Три Богатыря» — правильные русские бани.
        .footer__social 
          .footer__social-row 
            a(href="#").footer__social-icon 
              svg(class="icon-telegram")
                use(xlink:href="img/sprite.svg#telegram")
            a(href="#").footer__social-icon 
              svg(class="icon-vk")
                use(xlink:href="img/sprite.svg#vk")
            a(href="#").footer__social-icon 
              svg(class="icon-youtube")
                use(xlink:href="img/sprite.svg#youtube")
      .footer__col 
        .footer__lists 
          ul.footer__list 
            li 
              a(href="#") Бани
            li 
              a(href="#") Парения
            li 
              a(href="#") Услуги
            li 
              a(href="#") Кухня
            li 
              a(href="#") Парильщики
          ul.footer__list 
            li 
              a(href="#") Акции
            li 
              a(href="#") Новости
            li 
              a(href="#") Фотогалерея
            li 
              a(href="#") Правила посещения
            li 
              a(href="#") Контакты
      .footer__col 
        .footer__btn 
          .btn.btn--brown Забронировать отдых
        .footer__tel 
          a(href="tel:+73433430594") +7 (343) 343-05-94
        .footer__links 
          a(href="#") Whatsapp
          a(href="#") Заказать звонок
  .footer__bottom 
    .wrapper 
      .footer__bottom-row 
        a(href="#").footer__link Политика конфиденциальности
        a(href="#").footer__link Пожаловаться
        a(href="#").footer__link Публичная оферта
//	/footer