extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    main.content 

      // welcome
      .welcome
        .welcome__video 
          img(src="img/welcome-bg.webp", alt="")
        .welcome__smoke 
          img(src="img/smoke.webp", alt="")
        .wrapper 
          .welcome__mobile 
            .welcome__address 
              svg(class="icon-map-pin")
                use(xlink:href="img/sprite.svg#map-pin")
              | Екатеринбург, ул. Норильская, 78 
              a(href="#") Как нас найти?
            ul.welcome__items 
              li.welcome__tel 
                a(href="tel:+73433430594") 
                  svg(class="icon-phone")
                    use(xlink:href="img/sprite.svg#phone")
                  | +7 (343) 343-05-94
              li.welcome__whatsapp 
                a(href="#") 
                  svg(class="icon-whatsapp")
                    use(xlink:href="img/sprite.svg#whatsapp")
                  | Whatsapp
              li.welcome__callback 
                a(href="#") 
                  svg(class="icon-ordercall")
                    use(xlink:href="img/sprite.svg#ordercall")
                  | Заказать звонок
          .welcome__buttons 
            .btn.btn--white Узнать цену
            .btn.btn--white Забронировать отдых
      // /welcome

      // head
      .head
        .wrapper
          h1.head__title 
            span.head__title-italic Русские бани 
            | «Три Богатыря»
          .head__divider 
            svg(class="icon-3b-divider")
              use(xlink:href="img/sprite.svg#3b-divider")
      // /head

      // bathhouse
      .bathhouse
        .wrapper 
          .bathhouse__slider 
            #bathhouseSlider 
              .swiper-wrapper 
                .swiper-slide 
                  .bathhouse__item 
                    .bathhouse__img 
                      img(src="img/bathhouse-preview/img1.webp", alt="")
                      img(src="img/bathhouse-preview/img-hover.webp", alt="")
                    form(action="#").bathhouse__content 
                      .bathhouse__title Илья Муромец
                      .bathhouse__persons 
                        svg(class="icon-people")
                          use(xlink:href="img/sprite.svg#people")
                        | 6-8 гостей
                      .bathhouse__parameters 
                        .row.gy
                          .bathhouse__time 
                            .row.gy
                              .bathhouse__time-btn
                                input#day0(type="radio" name="time" checked)
                                label(for="day0").btn.btn--brown 
                                  svg(class="icon-sun")
                                    use(xlink:href="img/sprite.svg#sun")
                                  | день
                              .bathhouse__time-btn
                                input#night0(type="radio" name="time")
                                label(for="night0").btn.btn--brown 
                                  svg(class="icon-stars")
                                    use(xlink:href="img/sprite.svg#stars")
                                  | ночь
                          .bathhouse__price от 16 000 р./3 часа
                      .bathhouse__buttons 
                        .row.gy
                          .bathhouse__btn 
                            a(href="bathhouse.html").btn.btn--brown подробнее
                          .bathhouse__btn 
                            a(href="reservation.html").btn.btn--brown забронировать
                .swiper-slide 
                  .bathhouse__item 
                    .bathhouse__img 
                      img(src="img/bathhouse-preview/img2.webp", alt="")
                      img(src="img/bathhouse-preview/img-hover.webp", alt="")
                    form(action="#").bathhouse__content 
                      .bathhouse__title Баня по-чёрному
                      .bathhouse__persons 
                        svg(class="icon-people")
                          use(xlink:href="img/sprite.svg#people")
                        | 6-8 гостей
                      .bathhouse__parameters 
                        .row.gy
                          .bathhouse__time 
                            .row.gy
                              .bathhouse__time-btn
                                input#day1(type="radio" name="time" checked)
                                label(for="day1").btn.btn--brown 
                                  svg(class="icon-sun")
                                    use(xlink:href="img/sprite.svg#sun")
                                  | день
                              .bathhouse__time-btn
                                input#night1(type="radio" name="time")
                                label(for="night1").btn.btn--brown 
                                  svg(class="icon-stars")
                                    use(xlink:href="img/sprite.svg#stars")
                                  | ночь
                          .bathhouse__price от 16 000 р./3 часа
                      .bathhouse__buttons 
                        .row.gy
                          .bathhouse__btn 
                            a(href="bathhouse.html").btn.btn--brown подробнее
                          .bathhouse__btn 
                            a(href="reservation.html").btn.btn--brown забронировать
                .swiper-slide 
                  .bathhouse__item 
                    .bathhouse__img 
                      img(src="img/bathhouse-preview/img3.webp", alt="")
                      img(src="img/bathhouse-preview/img-hover.webp", alt="")
                    form(action="#").bathhouse__content 
                      .bathhouse__title Алеша Попович
                      .bathhouse__persons 
                        svg(class="icon-people")
                          use(xlink:href="img/sprite.svg#people")
                        | 4-6 гостей
                      .bathhouse__parameters 
                        .row.gy
                          .bathhouse__time 
                            .row.gy
                              .bathhouse__time-btn
                                input#day2(type="radio" name="time" checked)
                                label(for="day2").btn.btn--brown 
                                  svg(class="icon-sun")
                                    use(xlink:href="img/sprite.svg#sun")
                                  | день
                              .bathhouse__time-btn
                                input#night2(type="radio" name="time")
                                label(for="night2").btn.btn--brown 
                                  svg(class="icon-stars")
                                    use(xlink:href="img/sprite.svg#stars")
                                  | ночь
                          .bathhouse__price от 16 000 р./3 часа
                      .bathhouse__buttons 
                        .row.gy
                          .bathhouse__btn 
                            a(href="bathhouse.html").btn.btn--brown подробнее
                          .bathhouse__btn 
                            a(href="reservation.html").btn.btn--brown забронировать
                .swiper-slide 
                  .bathhouse__item 
                    .bathhouse__img 
                      img(src="img/bathhouse-preview/img2.webp", alt="")
                      img(src="img/bathhouse-preview/img-hover.webp", alt="")
                    form(action="#").bathhouse__content 
                      .bathhouse__title Баня по-чёрному
                      .bathhouse__persons 
                        svg(class="icon-people")
                          use(xlink:href="img/sprite.svg#people")
                        | 6-8 гостей
                      .bathhouse__parameters 
                        .row.gy
                          .bathhouse__time 
                            .row.gy
                              .bathhouse__time-btn
                                input#day3(type="radio" name="time" checked)
                                label(for="day3").btn.btn--brown 
                                  svg(class="icon-sun")
                                    use(xlink:href="img/sprite.svg#sun")
                                  | день
                              .bathhouse__time-btn
                                input#night3(type="radio" name="time")
                                label(for="night3").btn.btn--brown 
                                  svg(class="icon-stars")
                                    use(xlink:href="img/sprite.svg#stars")
                                  | ночь
                          .bathhouse__price от 16 000 р./3 часа
                      .bathhouse__buttons 
                        .row.gy
                          .bathhouse__btn 
                            a(href="bathhouse.html").btn.btn--brown подробнее
                          .bathhouse__btn 
                            a(href="reservation.html").btn.btn--brown забронировать
              .bathhouse__arrow.bathhouse__arrow--prev.swiper-button-prev
                svg(class="icon-arrow-left")
                  use(xlink:href="img/sprite.svg#arrow-left")
              .bathhouse__arrow.bathhouse__arrow--next.swiper-button-next
                svg(class="icon-arrow-right")
                  use(xlink:href="img/sprite.svg#arrow-right")
      // /bathhouse

      // head
      .head
        .wrapper
          h2.head__title Акции
          .head__divider 
            svg(class="icon-3b-divider")
              use(xlink:href="img/sprite.svg#3b-divider")
          a(href="#").head__more 
            span Все акции
            svg(class="icon-long-arrow-right")
              use(xlink:href="img/sprite.svg#long-arrow-right")
      // /head

      // sales
      .sales
        .wrapper 
          .row.gy
            .sales__slider 
              #salesSlider 
                .swiper-wrapper 
                  .swiper-slide 
                    .sales__banner 
                      .sales__content 
                        .sales__title 2+2=4
                        .sales__text При бронировании 2 часов сейчас и 2 часов потом вы получаете 4 часа
                        a(href="#").sales__link Выбрать баню
                      .sales__banner-img 
                        img(src="img/banner1.webp", alt="")
                  .swiper-slide 
                    .sales__banner 
                      .sales__content 
                        .sales__title 2+2=4
                        .sales__text При бронировании 2 часов сейчас и 2 часов потом вы получаете 4 часа 
                        a(href="#").sales__link Выбрать баню
                      .sales__banner-img 
                        img(src="img/banner1.webp", alt="")
                  .swiper-slide 
                    .sales__banner 
                      .sales__content 
                        .sales__title 2+2=4
                        .sales__text При бронировании 2 часов сейчас и 2 часов потом вы получаете 4 часа 
                        a(href="#").sales__link Выбрать баню
                      .sales__banner-img 
                        img(src="img/banner1.webp", alt="")
                .swiper-pagination.sales__pagination 
            .sales__images 
              .sales__images-col 
                .sales__img 
                  img(src="img/banner2.webp", alt="")
              .sales__images-col 
                .sales__img.sales__img--sertificate
                  span Подарочный <br>сертификат
      // /sales

      // head
      .head
        .wrapper
          h2.head__title Услуги
          .head__divider 
            svg(class="icon-3b-divider")
              use(xlink:href="img/sprite.svg#3b-divider")
          a(href="#").head__more 
            span Все услуги
            svg(class="icon-long-arrow-right")
              use(xlink:href="img/sprite.svg#long-arrow-right")
      // /head

      // services
      .services
        .wrapper 
          .services__container
            .services__grid 
              .services__col1 
                .services__img 
                  img(src="img/services/img1.webp", alt="")
                .services__title 
                  span Парения
              .services__col2 
                .services__img 
                  img(src="img/services/img2.webp", alt="")
                .services__title 
                  span Чан на огне
              .services__col3 
                .services__img 
                  img(src="img/services/img3.webp", alt="")
                .services__title 
                  span СПА процедуры
              .services__col4 
                .services__img 
                  img(src="img/services/img4.webp", alt="")
                .services__title 
                  span Массаж
              .services__col5 
                .services__img 
                  img(src="img/services/img5.webp", alt="")
                .services__title 
                  span Семейная баня с детьми
      // /services

      // about
      .about
        .wrapper 
          .about__container 
            .about__content 
              .about__title Аренда бани за городом
                svg(class="icon-3b-divider-line")
                  use(xlink:href="img/sprite.svg#3b-divider-line")
              .about__sub Банный комплекс «Три Богатыря» – это традиции русской бани и безупречный сервис. Приезжайте к нам улучшить свое здоровье и чудесно провести время! Снять баню можно на несколько часов или на целые сутки, в любое удобное время.
              .about__subtitle И польза, 
                span и отдых
              .about__text 
                p Чем примечательна банька русская? А тем, что она приводит в порядок и тело и душу, дарит правильные мысли и бодрость. Еще давным-давно баня была местом встреч, бесед, отдыха, она прогоняла недуги и очищала. В других краях заморских есть сауны, хамамы, но нет ничего лучше баньки русской! Мы привнесли в наш комплекс чудесные традиции, гордимся ими и делимся с вами. 
                p Жар несет пользу, от него буквально перехватывает дух! В парилке легкие дышат, кожа потеет и кислород насыщает каждую клетку. Свежие веники стимулируют кожу, оказывают массажный эффект, очищают поры и выгоняют все токсины из организма. Парение при 60 – 70 градусах будет очень полезно, а для любителей пожарче разогреем парилку до 100 – 120 градусов.
              .about__subtitle 
                span Бань много, 
                | но у нас лучше!
              .about__text 
                p Много частных бань, да что же выбрать? Приезжайте к нам, ведь все у нас ладно:
                <br>
                p Деревянные терема, как на картинке. Целый город таких выстроен, приходи, любуйся, фотографируйся!
                p Гостям всегда рады, и в день субботний и на неделе;
                p Вокруг лес да свежий воздух, а до города рукой подать;
                p Здесь не только парилка с вениками, здесь настоящие традиции да новомодные джакузи. На любой возраст – и деткам и взрослым;
                p Приехать в банный комплекс можно большим семейством, командой офисной, компанией друзей. Отдыхайте сколько хотите, главное оговорите время. Для вас и песни в караоке, и бильярд, и шашлык в беседке.
            .about__img 
              img(src="img/about.webp", alt="")
      // /about

      // head
      .head
        .wrapper
          h2.head__title 
            span Яркие кадры 
            | вашего отдыха
      // /head

      // gallery
      .gallery
        .gallery__grid 
          .gallery__col.gallery__col--1 
            a(href="img/gallery/img1.webp" data-fancybox="gallery").gallery__img 
              img(src="img/gallery/img1.webp", alt="")
          .gallery__col.gallery__col--2 
            a(href="img/gallery/img2.webp" data-fancybox="gallery").gallery__img 
              img(src="img/gallery/img2.webp", alt="")
          .gallery__col.gallery__col--3 
            a(href="img/gallery/img3.webp" data-fancybox="gallery").gallery__img 
              img(src="img/gallery/img3.webp", alt="")
          .gallery__col.gallery__col--4 
            a(href="img/gallery/img4.webp" data-fancybox="gallery").gallery__img 
              img(src="img/gallery/img4.webp", alt="")
          .gallery__col.gallery__col--5 
            a(href="img/gallery/img5.webp" data-fancybox="gallery").gallery__img 
              img(src="img/gallery/img5.webp", alt="")
          .gallery__col.gallery__col--6 
            a(href="img/gallery/img6.webp" data-fancybox="gallery").gallery__img 
              img(src="img/gallery/img6.webp", alt="")
          .gallery__col.gallery__col--7 
            a(href="img/gallery/img7.webp" data-fancybox="gallery").gallery__img 
              img(src="img/gallery/img7.webp", alt="")
      // /gallery

      include blocks/contact.pug

    include core/footer.pug
