extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    main.content 

      // welcome
      .welcome
        .welcome__video 
          img(src="img/welcome-bg.webp", alt="")
        .welcome__smoke 
          img(src="img/smoke.png", alt="")
        .wrapper 
          .welcome__buttons 
            .btn.btn--white Узнать цену
            .btn.btn--white Забронировать отдых
      // /welcome

      //- // head
      //- .head
      //-   h1.head__title Русские бани «Три Богатыря»
      //-     .head__divider 
      //-       svg(class="icon-3b-divider")
      //-         use(xlink:href="img/sprite.svg#3b-divider")
      //- // /head

      //- // bathhouse
      //- .bathhouse
      //-   .wrapper 
      //-     .bathhouse__slider 
      //-       #bathhouseSlider 
      //-         .swiper-wrapper 
      //-           .swiper-slide 
      //-             .bathhouse__item 
      //-               .bathhouse__img 
      //-                 img(src="img/bathhouse-preview/img1.webp", alt="")
      //-               form(action="#").bathhouse__content 
      //-                 .bathhouse__title Илья Муромец
      //-                 .bathhouse__persons 
      //-                   svg(class="icon-people")
      //-                     use(xlink:href="img/sprite.svg#people")
      //-                   | 6-8 гостей
      //-                 .bathhouse__parameters 
      //-                   .row.gy
      //-                     .bathhouse__time 
      //-                       .row.gy
      //-                         .bathhouse__time-btn
      //-                           input#day0(type="radio" name="time" checked)
      //-                           label(for="day0").btn.btn--brown 
      //-                             svg(class="icon-sun")
      //-                               use(xlink:href="img/sprite.svg#sun")
      //-                             | день
      //-                         .bathhouse__time-btn
      //-                           input#night0(type="radio" name="time")
      //-                           label(for="night0").btn.btn--brown 
      //-                             svg(class="icon-stars")
      //-                               use(xlink:href="img/sprite.svg#stars")
      //-                             | ночь
      //-                     .bathhouse__price от 16 000 р./3 часа
      //-                 .bathhouse__buttons 
      //-                   .row.gy
      //-                     .bathhouse__btn 
      //-                       a(href="bathhouse.html").btn.btn--brown подробнее
      //-                     .bathhouse__btn 
      //-                       a(href="reservation.html").btn.btn--brown забронировать
      //-           .swiper-slide 
      //-             .bathhouse__item 
      //-               .bathhouse__img 
      //-                 img(src="img/bathhouse-preview/img2.webp", alt="")
      //-               form(action="#").bathhouse__content 
      //-                 .bathhouse__title Баня по-чёрному
      //-                 .bathhouse__persons 
      //-                   svg(class="icon-people")
      //-                     use(xlink:href="img/sprite.svg#people")
      //-                   | 6-8 гостей
      //-                 .bathhouse__parameters 
      //-                   .row.gy
      //-                     .bathhouse__time 
      //-                       .row.gy
      //-                         .bathhouse__time-btn
      //-                           input#day1(type="radio" name="time" checked)
      //-                           label(for="day1").btn.btn--brown 
      //-                             svg(class="icon-sun")
      //-                               use(xlink:href="img/sprite.svg#sun")
      //-                             | день
      //-                         .bathhouse__time-btn
      //-                           input#night1(type="radio" name="time")
      //-                           label(for="night1").btn.btn--brown 
      //-                             svg(class="icon-stars")
      //-                               use(xlink:href="img/sprite.svg#stars")
      //-                             | ночь
      //-                     .bathhouse__price от 16 000 р./3 часа
      //-                 .bathhouse__buttons 
      //-                   .row.gy
      //-                     .bathhouse__btn 
      //-                       a(href="bathhouse.html").btn.btn--brown подробнее
      //-                     .bathhouse__btn 
      //-                       a(href="reservation.html").btn.btn--brown забронировать
      //-           .swiper-slide 
      //-             .bathhouse__item 
      //-               .bathhouse__img 
      //-                 img(src="img/bathhouse-preview/img3.webp", alt="")
      //-               form(action="#").bathhouse__content 
      //-                 .bathhouse__title Алеша Попович
      //-                 .bathhouse__persons 
      //-                   svg(class="icon-people")
      //-                     use(xlink:href="img/sprite.svg#people")
      //-                   | 4-6 гостей
      //-                 .bathhouse__parameters 
      //-                   .row.gy
      //-                     .bathhouse__time 
      //-                       .row.gy
      //-                         .bathhouse__time-btn
      //-                           input#day2(type="radio" name="time" checked)
      //-                           label(for="day2").btn.btn--brown 
      //-                             svg(class="icon-sun")
      //-                               use(xlink:href="img/sprite.svg#sun")
      //-                             | день
      //-                         .bathhouse__time-btn
      //-                           input#night2(type="radio" name="time")
      //-                           label(for="night2").btn.btn--brown 
      //-                             svg(class="icon-stars")
      //-                               use(xlink:href="img/sprite.svg#stars")
      //-                             | ночь
      //-                     .bathhouse__price от 16 000 р./3 часа
      //-                 .bathhouse__buttons 
      //-                   .row.gy
      //-                     .bathhouse__btn 
      //-                       a(href="bathhouse.html").btn.btn--brown подробнее
      //-                     .bathhouse__btn 
      //-                       a(href="reservation.html").btn.btn--brown забронировать
      //-           .swiper-slide 
      //-             .bathhouse__item 
      //-               .bathhouse__img 
      //-                 img(src="img/bathhouse-preview/img2.webp", alt="")
      //-               form(action="#").bathhouse__content 
      //-                 .bathhouse__title Баня по-чёрному
      //-                 .bathhouse__persons 
      //-                   svg(class="icon-people")
      //-                     use(xlink:href="img/sprite.svg#people")
      //-                   | 6-8 гостей
      //-                 .bathhouse__parameters 
      //-                   .row.gy
      //-                     .bathhouse__time 
      //-                       .row.gy
      //-                         .bathhouse__time-btn
      //-                           input#day3(type="radio" name="time" checked)
      //-                           label(for="day3").btn.btn--brown 
      //-                             svg(class="icon-sun")
      //-                               use(xlink:href="img/sprite.svg#sun")
      //-                             | день
      //-                         .bathhouse__time-btn
      //-                           input#night3(type="radio" name="time")
      //-                           label(for="night3").btn.btn--brown 
      //-                             svg(class="icon-stars")
      //-                               use(xlink:href="img/sprite.svg#stars")
      //-                             | ночь
      //-                     .bathhouse__price от 16 000 р./3 часа
      //-                 .bathhouse__buttons 
      //-                   .row.gy
      //-                     .bathhouse__btn 
      //-                       a(href="bathhouse.html").btn.btn--brown подробнее
      //-                     .bathhouse__btn 
      //-                       a(href="reservation.html").btn.btn--brown забронировать
      //-         .bathhouse__arrow.bathhouse__arrow--prev.swiper-button-prev
      //-         .bathhouse__arrow.bathhouse__arrow--next.swiper-button-next
      //- // /bathhouse

    include core/footer.pug
