extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .page 

    include core/header.pug

    main.content 

      .navpage 
        .wrapper
          h1 Навигаця по страницам
          ul 
            li 
              a(href="template.html") Шаблон

    include core/footer.pug
