extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .page 

    include core/header-dark.pug

    main.content 

      .navpage 
        .wrapper
          h1 Навигаця по страницам
          ul 
            //- li 
            //-   a(href="template.html") Шаблон
            li 
              a(href="home.html") Главная
            li 
              a(href="reservation.html") Бронирование

    include core/footer.pug
