extends core/base.pug

block title 
  title Внутреняя страница

block content

  .page 

    include core/header.pug

    main.content 

      // page-head
      .page-head
        .page-head__img 
          img(src="img/reservation-head.webp", alt="")
        .page-head__smoke 
          img(src="img/smoke.png", alt="")
        .page-head__mobile 
          .wrapper 
            ul.page-head__items 
              li.page-head__tel 
                a(href="tel:+73433430594") 
                  svg(class="icon-phone")
                    use(xlink:href="img/sprite.svg#phone")
                  | +7 (343) 343-05-94
              li.page-head__whatsapp 
                a(href="#") 
                  svg(class="icon-whatsapp")
                    use(xlink:href="img/sprite.svg#whatsapp")
                  | Whatsapp
              li.page-head__callback 
                a(href="#") 
                  svg(class="icon-ordercall")
                    use(xlink:href="img/sprite.svg#ordercall")
                  | Заказать звонок
        .wrapper 
          h1.page-head__title Баня «Илья Муромец»
      // /page-head

      // bathhouse-gallery
      .bathhouse-gallery
        .wrapper 
          .bathhouse-gallery__gallery 
              .bathhouse-gallery__col.bathhouse-gallery__col1
                a(href="img/bathhouse-gallery/img1.webp" data-fancybox="gallery").bathhouse-gallery__img 
                  img(src="img/bathhouse-gallery/img1.webp", alt="")
              .bathhouse-gallery__col.bathhouse-gallery__col2
                a(href="img/bathhouse-gallery/img2.webp" data-fancybox="gallery").bathhouse-gallery__img 
                  img(src="img/bathhouse-gallery/img2.webp", alt="")
              .bathhouse-gallery__col.bathhouse-gallery__col3
                a(href="img/bathhouse-gallery/img3.webp" data-fancybox="gallery").bathhouse-gallery__img 
                  img(src="img/bathhouse-gallery/img3.webp", alt="")
              .bathhouse-gallery__col.bathhouse-gallery__col4
                a(href="img/bathhouse-gallery/img4.webp" data-fancybox="gallery").bathhouse-gallery__img 
                  img(src="img/bathhouse-gallery/img4.webp", alt="")
              .bathhouse-gallery__col.bathhouse-gallery__col5
                a(href="img/bathhouse-gallery/img5.webp" data-fancybox="gallery").bathhouse-gallery__img 
                  img(src="img/bathhouse-gallery/img5.webp", alt="")
                  .bathhouse-gallery__more все фото
          .bathhouse-gallery__hidden 
            a(href="img/bathhouse-preview/img2.webp" data-fancybox="gallery") 
              img(src="img/bathhouse-preview/img2.webp", alt="")
            a(href="img/bathhouse-preview/img3.webp" data-fancybox="gallery") 
              img(src="img/bathhouse-preview/img3.webp", alt="")
            a(href="img/services/img2.webp" data-fancybox="gallery") 
              img(src="img/services/img2.webp", alt="")
            a(href="img/services/img3.webp" data-fancybox="gallery") 
              img(src="img/services/img3.webp", alt="")
            a(href="img/services/img1.jpg" data-fancybox="gallery") 
              img(src="img/services/img1.jpg", alt="")
            a(href="img/services/img5.webp" data-fancybox="gallery") 
              img(src="img/services/img5.webp", alt="")

          .bathhouse-gallery__bottom 
            ul.bathhouse-gallery__list 
              li 
                svg(class="icon-people")
                  use(xlink:href="img/sprite.svg#people")
                span до 30 человек
              li 
                svg(class="icon-bonussystem")
                  use(xlink:href="img/sprite.svg#bonussystem")
                span Бонусная система
              li 
                a(href="#") 
                  svg(class="icon-giftcert")
                    use(xlink:href="img/sprite.svg#giftcert")
                  span Подарочные сертификаты
              li 
                svg(class="icon-addperson")
                  use(xlink:href="img/sprite.svg#addperson")
                span Доплата за доп. гостя: 300 р.
              li 
                svg(class="icon-kid")
                  use(xlink:href="img/sprite.svg#kid")
                span Дети до 10 лет - бесплатно
              li 
                svg(class="icon-tea")
                  use(xlink:href="img/sprite.svg#tea")
                span Чай-комплимент в подарок
            .bathhouse-gallery__reservation 
              .bathhouse-gallery__time-price 
                .bathhouse-gallery__time 
                  .bathhouse-gallery__radio 
                    input#day(type="radio", name="time" checked)
                    label(for="day") 
                      svg(class="icon-sun")
                        use(xlink:href="img/sprite.svg#sun")
                      span день
                  .bathhouse-gallery__radio 
                    input#night(type="radio", name="time")
                    label(for="night") 
                      svg(class="icon-stars")
                        use(xlink:href="img/sprite.svg#stars")
                      span ночь
                .bathhouse-gallery__price от 
                  .bathhouse-gallery__price-bold 4 500 
                  .bathhouse-gallery__price-small &#8381;/Ч
              .bathhouse-gallery__btn 
                .btn.btn--red Забронировать
      // /bathhouse-gallery

      // bathhouse-description
      .bathhouse-description
        .wrapper 
          .row 
            .bathhouse-description__col 
              .bathhouse-description__title 
                span О бане
              .bathhouse-description__text Cамый вместительный банный дом для компаний 15-20-30 человек с банкетным залом. Хотите организовать большое гуляние, корпоративное мероприятие или семейное торжество - смело выбирайте именно эту баню.
              .bathhouse-description__video.js-youtube#rvrfxEdvbfA
                img(src="img/video-preview.webp", alt="").video__prev
              .bathhouse-description__ps летний видеотур в бане «Илья Муромец»
            .bathhouse-description__col 
              .bathhouse-description__title 
                span В этой бане есть
              .bathhouse-description__lists 
                ul.bathhouse-description__list 
                  li Блюда на заказ
                  li Веники
                  li Парения с парильщиком
                  li Спа процедуры
                ul.bathhouse-description__list 
                  li Фирменный чай банщика
                  li Звуковой массаж тибетскими чашами
                  li Корпоративы
                  li Массаж
              .bathhouse-description__title 
                span Вы можете дополнить отдых
              .bathhouse-description__lists 
                ul.bathhouse-description__list 
                  li Блюда на заказ
                  li Веники
                  li Парения с парильщиком
                  li Спа процедуры
                ul.bathhouse-description__list 
                  li Фирменный чай банщика
                  li Звуковой массаж тибетскими чашами
                  li Корпоративы
                  li Массаж
      // /bathhouse-description

      // head
      .head
        .wrapper
          h1.head__title 
            .head__title-italic Посмотреть другие бани
          .head__divider 
            svg(class="icon-3b-divider")
              use(xlink:href="img/sprite.svg#3b-divider")
      // /head

      // item-links
      .item-links
        .wrapper 
          .row.gy 
            .item-links__col 
              a(href="#").item-links__item 
                .item-links__name Змей Горыныч
                .item-links__text до 4 чел.
            .item-links__col 
              a(href="#").item-links__item 
                .item-links__name Алёша Попович
                .item-links__text до 6 чел.
            .item-links__col 
              a(href="#").item-links__item 
                .item-links__name Василиса
                .item-links__text до 6 чел.
            .item-links__col 
              a(href="#").item-links__item 
                .item-links__name Забава
                .item-links__text до 8 чел.
            .item-links__col 
              a(href="#").item-links__item 
                .item-links__name Добрыня Никитич
                .item-links__text до 10 чел.
            .item-links__col 
              a(href="#").item-links__item 
                .item-links__name Изба здоровья
                .item-links__text до 6 чел.
            .item-links__col 
              a(href="#").item-links__item.active
                .item-links__name Илья Муромец
                .item-links__text до 30 чел.
      // /item-links

      include blocks/contact.pug

    include core/footer.pug
