extends core/base.pug

block title 
  title Внутреняя страница

block content

  .page 

    include core/header.pug

    main.content 

      // page-head
      .page-head
        .page-head__img 
          img(src="img/reservation-head.webp", alt="")
        .page-head__smoke 
          img(src="img/smoke.png", alt="")
        .page-head__mobile 
          .wrapper 
            ul.page-head__items 
              li.page-head__tel 
                a(href="tel:+73433430594") 
                  svg(class="icon-phone")
                    use(xlink:href="img/sprite.svg#phone")
                  | +7 (343) 343-05-94
              li.page-head__whatsapp 
                a(href="#") 
                  svg(class="icon-whatsapp")
                    use(xlink:href="img/sprite.svg#whatsapp")
                  | Whatsapp
              li.page-head__callback 
                a(href="#") 
                  svg(class="icon-ordercall")
                    use(xlink:href="img/sprite.svg#ordercall")
                  | Заказать звонок
        .wrapper 
          h1.page-head__title Баня «Илья Муромец»
      // /page-head

    include core/footer.pug
