extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .page 

    include core/header.pug

    main.content 

      // page-head
      .page-head
        .page-head__img 
          img(src="img/reservation-head.webp", alt="")
        .page-head__smoke 
          img(src="img/smoke.webp", alt="")
        .page-head__mobile 
          .wrapper 
            ul.page-head__items 
              li.page-head__tel 
                a(href="tel:+73433430594") 
                  svg(class="icon-phone")
                    use(xlink:href="img/sprite.svg#phone")
                  | +7 (343) 343-05-94
              li.page-head__whatsapp 
                a(href="#") 
                  svg(class="icon-whatsapp")
                    use(xlink:href="img/sprite.svg#whatsapp")
                  | Whatsapp
              li.page-head__callback 
                a(href="#") 
                  svg(class="icon-ordercall")
                    use(xlink:href="img/sprite.svg#ordercall")
                  | Заказать звонок
        .wrapper 
          h1.page-head__title ОНЛАЙН БРОНИРОВАНИЕ
      // /page-head

      // head
      .head
        .wrapper
          h2.head__title 
            span.head__title-italic Заполнить 
            | заявку
          .head__divider 
            svg(class="icon-3b-divider")
              use(xlink:href="img/sprite.svg#3b-divider")
      // /head

      form(action="#") 
        // form
        .form
          .wrapper 
            .row 
              .form__col 
                .row 
                  .form__col-inner-6
                    .form__input  
                      .form__label Ваше Имя
                      input(type="text" name="name")
                  .form__col-inner-6
                    .form__input  
                      .form__label Ваш Телефон
                      input(type="text" name="tel" inputmode="tel" placeholder="+7")
                  .form__col-inner-6 
                    .form__counter 
                      .form__label Количество гостей
                      .counter.js-counter
                        .counter__btn.js-counter-minus 
                          svg(class="icon-minus")
                            use(xlink:href="img/sprite.svg#minus")
                        .counter__input.js-counter-input
                          input(type="text" value="1" maxlength="3")
                        .counter__btn.js-counter-plus 
                          svg(class="icon-plus")
                            use(xlink:href="img/sprite.svg#plus")
                  .form__col-inner-6 
                    .form__counter 
                      .form__label Количество часов
                      .form__flex 
                        .counter.js-counter
                          .counter__btn.js-counter-minus 
                            svg(class="icon-minus")
                              use(xlink:href="img/sprite.svg#minus")
                          .counter__input.js-counter-input
                            input(type="text" value="3" maxlength="3")
                          .counter__btn.js-counter-plus 
                            svg(class="icon-plus")
                              use(xlink:href="img/sprite.svg#plus")
                        .form__radio  
                          input#day(type="radio", name="time" checked)
                          label(for="day") 
                            svg(class="icon-sun")
                              use(xlink:href="img/sprite.svg#sun")
                            span день
                        .form__radio  
                          input#night(type="radio", name="time")
                          label(for="night") 
                            svg(class="icon-stars")
                              use(xlink:href="img/sprite.svg#stars")
                            span ночь
                  .form__col-inner-12
                    .form__textarea 
                      .form__label Комментарий к заявке
                      textarea 
              .form__col 
                .form__calendar-wrap 
                  .form__label Желаемая дата посещения
                  .form__calendar 
                    input#calendar 
        // /form

        // select-bathhouse
        .select-bathhouse
          .wrapper 
            .row 
              .select-bathhouse__col 
                .subtitle 
                  h2.subtitle__text Выбрать баню
                  svg(class="icon-3b-divider-line")
                    use(xlink:href="img/sprite.svg#3b-divider-line")
                .select-bathhouse__items 
                  .row 
                    .select-bathhouse__col-item
                      .select-bathhouse__item 
                        input#type0(type="radio", name="type" checked)
                        label(for="type0") 
                          span.select-bathhouse__name Змей Горыныч
                          span.select-bathhouse__price 16 000 р.
                    .select-bathhouse__col-item
                      .select-bathhouse__item 
                        input#type1(type="radio", name="type")
                        label(for="type1") 
                          span.select-bathhouse__name Алёша Попович
                          span.select-bathhouse__price от 1 800 р./час
                    .select-bathhouse__col-item
                      .select-bathhouse__item 
                        input#type2(type="radio", name="type")
                        label(for="type2") 
                          span.select-bathhouse__name Добрыня Никитич
                          span.select-bathhouse__price от 3 000 р./час
                    .select-bathhouse__col-item
                      .select-bathhouse__item 
                        input#type3(type="radio", name="type")
                        label(for="type3") 
                          span.select-bathhouse__name Изба здоровья
                          span.select-bathhouse__price от 2 400 р./час
                    .select-bathhouse__col-item
                      .select-bathhouse__item 
                        input#type4(type="radio", name="type")
                        label(for="type4") 
                          span.select-bathhouse__name Василиса
                          span.select-bathhouse__price от 1 800 р./час
                    .select-bathhouse__col-item
                      .select-bathhouse__item 
                        input#type5(type="radio", name="type")
                        label(for="type5") 
                          span.select-bathhouse__name Забава
                          span.select-bathhouse__price от 2 400 р./час
                    .select-bathhouse__col-item
                      .select-bathhouse__item 
                        input#type6(type="radio", name="type")
                        label(for="type6") 
                          span.select-bathhouse__name Илья Муромец
                          span.select-bathhouse__price от 4 500 р./час
              .select-bathhouse__col 
                .select-bathhouse__slider 
                  #selectBathhouseSlider
                    .swiper-wrapper 
                      .swiper-slide 
                        .select-bathhouse__img 
                          img(src="img/bathhouse-preview/img1.webp", alt="")
                      .swiper-slide 
                        .select-bathhouse__img 
                          img(src="img/bathhouse-preview/img1.webp", alt="")
                      .swiper-slide 
                        .select-bathhouse__img 
                          img(src="img/bathhouse-preview/img1.webp", alt="")
                    .select-bathhouse__pagination.swiper-pagination 
                .select-bathhouse__img-footer 
                  .select-bathhouse__img-name Баня «Змей Горыныч»
                  a(href="#").select-bathhouse__img-more 
                    span Подробнее
                    svg(class="icon-long-arrow-right")
                      use(xlink:href="img/sprite.svg#long-arrow-right")
        // /select-bathhouse

        // select-services
        .select-services
          .wrapper 
            .subtitle 
              h2.subtitle__text Добавить услуги и парения
              svg(class="icon-3b-divider-line")
                use(xlink:href="img/sprite.svg#3b-divider-line")
            .select-services__slider 
              #selectServicesSlider 
                .swiper-wrapper 
                  .swiper-slide 
                    .select-bathhouse__item 
                      input#services0(type="checkbox", name="services" checked)
                      label(for="services0") 
                        span.select-bathhouse__name Аромо-парение
                        span.select-bathhouse__price 15 мин - 1 000 р.
                  .swiper-slide 
                    .select-bathhouse__item 
                      input#services1(type="checkbox", name="services")
                      label(for="services1") 
                        span.select-bathhouse__name парение "Купеческое"
                        span.select-bathhouse__price 15 мин - 2 500 р.
                  .swiper-slide 
                    .select-bathhouse__item 
                      input#services2(type="checkbox", name="services")
                      label(for="services2") 
                        span.select-bathhouse__name Парение "Боярское"
                        span.select-bathhouse__price 30 мин - 3 000 р.
                  .swiper-slide 
                    .select-bathhouse__item 
                      input#services3(type="checkbox", name="services")
                      label(for="services3") 
                        span.select-bathhouse__name Мыльный СПА массаж
                        span.select-bathhouse__price 40 мин - 1 500 р.
                  .swiper-slide 
                    .select-bathhouse__item 
                      input#services4(type="checkbox", name="services")
                      label(for="services4") 
                        span.select-bathhouse__name парение "Купеческое"
                        span.select-bathhouse__price 15 мин - 2 500 р.
                  .swiper-slide 
                    .select-bathhouse__item 
                      input#services5(type="checkbox", name="services")
                      label(for="services5") 
                        span.select-bathhouse__name Аромо-парение
                        span.select-bathhouse__price 15 мин - 1 000 р.
              .select-services__arrow.select-services__arrow--prev.swiper-button-prev
                svg(class="icon-arrow-left")
                  use(xlink:href="img/sprite.svg#arrow-left")
              .select-services__arrow.select-services__arrow--next.swiper-button-next
                svg(class="icon-arrow-right")
                  use(xlink:href="img/sprite.svg#arrow-right")
        // /select-services

        // result-form
        .result-form
          .wrapper 
            .subtitle 
              h2.subtitle__text Вы выбрали
              svg(class="icon-3b-divider-line")
                use(xlink:href="img/sprite.svg#3b-divider-line")
            .result-form__text 
              p Баня «Змей Горыныч» для 1 гостя. 
              p Дата посещения: 7 октября 2022, желаемое количество часов: 4, утреннее время.
              p Выбранные услуги и парения: Аромо-парение (15 мин.)
            .result-form__price Стоимость бронирования: 17 000 р.
            .result-form__btn 
              button(type="submit").btn.btn--red Отправить заявку
            .result-form__ps * Данная заявка не является бронированием и требует подтверждения менеджером.
        // /result-form

      include blocks/contact.pug

    include core/footer.pug
