/* about */
.about { 
  padding-top: 15px;
  margin-bottom: 80px;
  &__container {
    display: flex;
    align-items: flex-start;
  }
  &__content {
    flex-grow: 1;
    margin-right: 16px;
  }
  &__title {
    font-size: 50px;
    color: $title;
    margin-bottom: 20px;
    letter-spacing: -1.11px;
    fill: $brown;
    svg {
      display: inline-block;
      vertical-align: middle;
      width: 178px;
      height: 10px;
      margin-left: 20px;
    }
  }
  &__sub {
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
    text-align: justify;
    color: rgba(50, 41, 47, 0.85);
  }
  &__subtitle {
    font-size: 30px;
    color: $title;
    margin-bottom: 16px;
    span {
      font-style: italic;
      color: $brown;
    }
  }
  &__text {
    column-count: 2;
    column-gap: 20px;
    font-weight: 300;
    line-height: 1.25;
    text-align: justify;
    margin-bottom: 25px;
    color: rgba(50, 41, 47, 0.85);
  }
  &__img {
    @include col(4);
    // width: 414px;
    flex-shrink: 0;
    position: relative;
    &:after {
      content: '';
      display: block;
      border: 10px solid $gray;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    img {
      width: 100%;
    }
  }
  @media (max-width: $break_md) {
    margin-bottom: 50px;
    &__img {
      display: none;
    }
  }
  @media (max-width: $break_sm) {
    &__title {
      font-size: 40px;
      svg {
        display: none;
      }
    }
  }
  @media (max-width: $break_xs) {
    margin-bottom: 20px;
    &__text {
      column-count: 1;
    }
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 24px;
    }
  }
}
/* /about */