.air-datepicker {
  border: none;
}
.air-datepicker-nav {
  padding: 12px;
  border: none;
}
.air-datepicker-nav--title {
  font-size: 20px;
}
.air-datepicker--content {
  padding-bottom: 12px;
}
.air-datepicker-body--day-names{
  font-size: 16px;
}
.air-datepicker-body--day-name {
  color: $gray;
}
.air-datepicker-body--cells.-days- {
  grid-auto-rows: 40px;
  font-size: 14px;
}
.air-datepicker-cell.-day- {

}
.air-datepicker-cell.-day-.-focus- {
  background-color: transparent;
  color: $brown;
}
.air-datepicker-cell.-day-.-current- {
  color: $red;
}
.air-datepicker-cell.-day-.-selected- {
  position: relative;
  background-color: transparent;
  color: $text;
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid $red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-47%);
  }
}
.air-datepicker-nav--action {
  width: 45px;
  opacity: 0.7;
  transition: .1s;
  svg {
    width: 60px;
    height: 20px;
  }
  &:hover {
    background-color: transparent;
    opacity: 1;
  }
}
.air-datepicker-cell.-month-.-current-.-selected- {
  background-color: $red;
}
.air-datepicker-cell.-year-.-current-.-selected- {
  background-color: $red;
}