/* bathhouse-description */
.bathhouse-description { 
  margin-bottom: 60px;
  padding-top: 20px;
  .row {
    margin-left: -50px;
    margin-top: -30px;
    > * {
      padding-left: 50px;
      padding-top: 30px;
    }
  }
  &__title {
    font-size: 35px;
    color: #331408;
    font-style: italic;
    position: relative;
    margin-bottom: 17px;
    &:after {
      content: '';
      display: block;
      height: 1px;
      background-color: #E0D8D3;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 7px;
      z-index: -1;
    }
    span {
      padding-right: 5px;
      background-color: #f7f3f0;
    }
  }
  &__col {
    @include col(6);
  }
  &__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 70px;
  }
  &__video {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    &:after {
      content: '';
      display: block;
      padding-top: 56.25%;
    }
    .video__play {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .video__prev {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__ps {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
  }
  &__lists {
    display: flex;
    margin-bottom: 20px;
  }
  &__list {
    width: 50%;
    margin-bottom: 20px;
    li {
      padding-left: 40px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 20px;
        height: 5px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 20 5' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%233c1e0e'%3E%3Cpath d='M19.5417788,0 C14.4528301,0.0615384615 9.37998568,0.369230769 4.29103696,0.923076923 C2.87386137,1.10769231 1.45668577,1.23076923 0.0395101815,1.47692308 C-0.0732196952,1.47692308 0.0878229858,2.46153846 0.120031522,2.58461538 C0.168344326,2.89230769 0.345491275,4 0.458221152,4 C5.5310656,3.32307692 10.6200143,2.83076923 15.708963,2.64615385 C17.1261386,2.58461538 18.5433142,2.58461538 19.9604898,2.52307692 C20.0732197,2.52307692 19.912177,1.53846154 19.8799685,1.41538462 C19.8155514,1.04615385 19.6545087,0 19.5417788,0 L19.5417788,0 Z'%3E%3C/path%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 7px;
        left: 0;
      }
    }
  }
}
/* /bathhouse-description */