/* bathhouse */
.bathhouse { 
  margin-bottom: 35px;
  &__slider {
    position: relative;
    #bathhouseSlider {
      padding: 10px;
      margin: -10px;
      overflow: hidden;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    height: 610px;
    position: relative;
    transition: .5s;
    &:before {
      content: '';
      display: block;
      background: linear-gradient(to top, #000 10%, transparent);
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
    &:hover {
      box-shadow: 0 0 0 10px $gray;
      .bathhouse__parameters {
        > .row {
          margin-bottom: 0;
        }
      }
      .bathhouse__img {
        img {
          &:nth-child(2) {
            opacity: 1;
          }
        }
      }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.8s;
      &:nth-child(2) {
        opacity: 0;
      }
    }
  }
  &__content {
    padding: 20px;
    margin-top: auto;
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
  }
  &__title {
    font-size: 35px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
    margin-bottom: 12px;
  }
  &__persons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    fill: #fff;
    margin-bottom: 17px;
    svg {
      width: 22px;
      height: 22px;
      margin-right: 8px;
    }
  }
  &__parameters {
    overflow: hidden;
    > .row {
      padding: 10px 0 20px;
      margin-bottom: -70px;
      transition: .5s;
    }
  }
  &__time {
    display: flex;
    @include col(6);
    .row {
      flex-grow: 1;
    }
  }
  &__time-btn {
    @include col(6);
    .btn {
      width: 100%;
      font-size: 16px;
      padding: 2px 10px;
      svg {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        flex-shrink: 0;
      }
    }
    input {
      visibility: hidden;
      position: absolute;
      &:checked {
        ~ .btn {
          background-color: $red;
          border-color: $red;
          opacity: 1;
        }
      }
    }
  }
  &__price {
    @include col(6);
  }
  &__buttons {
    font-size: 18px;
  }
  &__btn {
    @include col(6);
    .btn {
      width: 100%;
      padding: 10px 15px;
      &:nth-child(1) {
        margin-right: 12px;
      }
    }
  }
  &__arrow {
    color: $brown;
    &--prev {
      left: -50px;
    }
    &--next {
      right: -50px;
    }
  }
  @media (max-width: $break_xl) {
    &__arrow {
      color: #fff;
      &--prev {
        left: 10px;
      }
      &--next {
        right: 10px;
      }
    }
  }
  @media (max-width: $break_sm) {
    &__item {
      height: 500px;
    }
    &__title {
      font-size: 26px;
    }
    &__parameters {
      > .row {
        margin-bottom: 0;
      }
    }
    &__time {
      .btn {
        font-size: 12px;
        svg {
          width: 10px;
          height: 10px;
        }
      }
    }
    &__price {
      font-size: 14px;
    }
    &__btn {
      .btn {
        font-size: 16px;
      }
    }
  }
}
/* /bathhouse */