/* contact */
.contact { 
  padding-top: 20px;
  &__head {
    margin-bottom: 22px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 50px;
    color: $title;
  }
  &__address {
    display: flex;
    fill: $title;
    svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
  &__link {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    &:hover {
      text-decoration: none;
    }
  }
  &__map {
    height: 420px;
    border-top: 10px solid $gray;
    border-bottom: 10px solid $gray;
    #contactMap {
      height: 100%;
    }
  }
  @media (max-width: $break_md) {
    &__row {
      flex-wrap: wrap;
    }
    &__title {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
    }
    &__address {
      margin-left: 50px;
    }
    &__link {
      margin-right: 50px;
    }
  }
  @media (max-width: $break_sm) {
    &__title {
      font-size: 40px;
    }
    &__address {
      margin-left: 20px;
    }
    &__link {
      margin-right: 20px;
    }
  }
  @media (max-width: $break_xs) {
    &__title {
      font-size: 30px;
    }
    &__address {
      margin-left: 0;
      margin-bottom: 20px;
    }
    &__link {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
/* /contact */