/* counter */
.counter {
  display: flex;
  width: 114px;
  height: 50px;
  background: #FFFFFF;
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 100%;
    cursor: pointer;
    user-select: none;
    font-size: 30px;
    fill: $text;
    transition: 0.1s;
    svg {
      width: 12px;
      height: 12px;
    }
    &:hover {
      fill: $brown;
    }
  }
  &__input {
    width: 78px;
    height: 100%;
    position: relative;
    input {
      width: 100%;
      height: 100%;
      font-size: 20px;
      text-align: center;
      border: none;
      outline: none;
    }
  }
}
/* /counter */