/* header */
.header { 
  width: 100%;
  color: #fff;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  a {
    color: #fff;
  }
  &__top {
    padding: 12px 0;
    background-color: rgba(0, 0, 0, 0.35);
    transition: .3s;
    .wrapper {
      display: flex;
      align-items: center;
      max-width: 1500px;
    }
  }
  &__address {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 14px;
    fill: #fff;
    white-space: nowrap;
    svg {
      width: 15px;
      height: 15px;
      margin-right: 10px;
      flex-shrink: 0;
    }
    a {
      margin-left: 10px;
      border-bottom: 1px solid #fff;
      &:hover {
        
      }
    }
  }
  &__items {
    display: flex;
    align-items: center;
    li {
      margin-left: 30px;
      a {
        display: flex;
        align-items: center;
        margin-right: auto;
        font-size: 16px;
        fill: #fff;
        white-space: nowrap;
        svg {
          width: 15px;
          height: 15px;
          margin-right: 10px;
          flex-shrink: 0;
        }
        @media (min-width: $break_md + 1) {
          position: relative;
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%,0);
            transition: .3s;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &__price {
    
  }
  &__tel {
    
  }
  &__whatsapp {
    
  }
  &__callback {
    
  }
  &__social {
    display: flex;
    align-items: center;
    &--mobile {
      display: none;
    }
  }
  &__social-icon {
    margin-left: 12px;
    fill: #fff;
    transition: .3s;
    svg {
      display: block;
      width: 15px;
      height: 15px;
    }
    @media (min-width: $break_md + 1) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__bottom {
    padding: 28px 0;
    .wrapper {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  &__logo-link {
    display: block;
    max-width: 200px;
    margin-right: 16px;
  }
  &__logo-text {
    font-size: 14px;
  }
  &__nav {
    
  }
  &__list {
    display: flex;
    align-items: center;
    margin-right: -14px;
    font-size: 18px;
    li {
      margin: 0 14px;
      a {
        display: inline-block;
        padding: 5px 0;
        @media (min-width: $break_md + 1) {
          position: relative;
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%,0);
            transition: .3s;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &__hamburger {
    display: none;
  }
  &__close-menu {
    display: none;
  }
  &__buttons {
    display: none;
  }
  &--dark {
    background-color: rgba(0, 0, 0, 0.35);
  }
  @media (min-width: $break_md + 1) {
    &__has-children {
      position: relative;
      &:hover {
        .header__submenu {
          opacity: 1;
          visibility: visible;
          transform: translate(0, 0);
        }
      }
    }
    &__submenu {
      width: 200px;
      padding: 10px 20px;
      border-radius: 2px;
      background-color: $gray;
      box-shadow: 0 0 10px rgba(0,0,0,.5);
      position: absolute;
      top: 100%;
      right: -10px;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      transform: translate(0,10px);
      li {
        margin: 0;
        a {
          color: $text;
          &:after {
            background-color: $text;
          }
        }
      }
    }
  }
  @media (max-width: $break_xl) {
    &__logo {
      display: block;
    }
  }
  @media (max-width: $break_lg) {
    &__list {
      font-size: 16px;
      li {
        margin: 0 10px;
      }
    }
  }
  @media (max-width: $break_md) {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url(../img/mobilebg-header.webp);
    background-size: cover;
    &__top {
      display: flex;  
      flex-direction: column;
      min-height: 100vh;
      order: 1;
      background: transparent;
      padding-top: 150px;
      padding-bottom: 30px;
      .wrapper {
        flex-direction: column;
      }
    }
    &__bottom {
      width: 100%;
      padding: 5px 0;
      background-color: rgba(0, 0, 0, 0.35);
      position: fixed;
    }
    &__address {
      flex-direction: column;
      justify-content: center;
      margin-right: 0;
      order: 1;
      text-shadow: 0px 1px 1px #000;
      margin-bottom: 30px;
      a {
        margin-top: 10px;
      }
      svg {
        display: none;
      }
    }
    &__items {
      justify-content: center;
      flex-wrap: wrap;
      li {
        margin-left: 0;
        text-align: center;
        a {
          display: inline-block;
          font-size: 24px;
          text-shadow: 0px 1px 1px #000;
          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    &__price {
      width: 100%;
      order: 1;
      margin-bottom: 30px;
    }
    &__tel {
      width: 100%;
      margin-bottom: 30px;
      a {
        font-size: 28px !important;
      }
      svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
    &__whatsapp {
      width: 50%;
      margin-bottom: 30px;
      a {
        color: $green;
        fill: $green !important;
      }
    }
    &__callback {
      width: 50%;
      margin-bottom: 30px;
      a {
        fill: $green !important;
      }
    }
    &__buttons {
      display: flex;
      justify-content: center;
      margin-top: auto;
      flex-wrap: wrap;
      .btn {
        min-width: 300px;
        margin: 8px;
        &:nth-child(2) {
          background-color: $green;
          border-color: $green;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    &__hamburger {
      display: block;
      padding-right: 0;
    }
    &__nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      padding: 70px 20px 20px;
      background-color: $gray;
      box-shadow: 0 0 30px rgba(0, 0, 0, .7);
      position: fixed;
      top: 0;
      bottom: 0;
      left: -500px;
      z-index: 12;
      transition: 0.3s;
      &.open {
        left: 0;
      }
    }
    &__list {
      display: block;
      flex-grow: 1;
      font-size: 25px;
      overflow-y: auto;
      li {
        margin: 0;
        a {
          display: block;
          padding: 10px 0;
          color: $text;
        }
      }
    }
    &__close-menu {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 20px;
      right: 20px;
      &:after,&:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $text;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      &:after {
        transform: translate(-50%,-50%) rotate(45deg);
      }
      &:before {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }
    &__social {
      padding-top: 10px;
      &--mobile {
        display: flex;
      }
      &--desktop {
        display: none;
      }
    }
    &__social-icon {
      margin-left: 0;
      margin-right: 10px;
      svg {
        width: 24px;
        height: 24px;
        fill: $text;
      }
    }
    &__has-children {
      position: relative;
      padding-right: 40px;
      &:after {
        content: '';
        display: block;
        width: 9px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%234C4449'%3E%3Cpath d='M2.56178229,2.33146284 C5.27213047,4.48900759 7.46971008,7.14997944 9.88704764,9.66711498 C11.0590901,10.8897237 12.2311325,12.1123324 13.622933,13.1191866 C14.9414807,14.1260408 16.5530391,14.9171405 17.6518289,16.1397492 C18.2378501,16.8589308 19.1901346,17.2185216 20.1424191,16.8589308 C20.8749457,16.5712582 21.3144616,15.6363221 20.7284403,14.9890587 C19.4831452,13.6226137 17.9448395,12.6876776 16.4797864,11.6089052 C15.0147334,10.5301329 13.7694383,9.30752418 12.5241432,8.01299734 C10.1068056,5.4958618 7.83597334,2.69105363 5.05237251,0.53350889 C4.39309863,0.0300817833 3.29430883,-0.257590849 2.48852964,0.317754416 C1.75600311,0.821181523 1.90250841,1.82803574 2.56178229,2.33146284 L2.56178229,2.33146284 Z'%3E%3C/path%3E%3Cpath d='M17.0865323,15.3944728 C12.1516816,21.3511548 4.52509408,24.5528713 0.188407069,31.0307629 C-0.70883852,32.3710163 1.83335732,35.0515232 2.88014384,33.5623527 C7.21683085,27.0844611 14.8434184,23.8082861 19.7782691,17.9260627 C20.7502852,16.7347263 18.2828598,13.9797609 17.0865323,15.3944728 L17.0865323,15.3944728 Z'%3E%3C/path%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 15px;
        right: 20px;
        transform: rotate(90deg);
        transition: .3s;
      }
      &.active {
        &:after {
          transform: rotate(0deg);
        }
      }
    }
    &__submenu {
      display: none;
      transition: none;
      padding-left: 10px;
    }
  }
  @media (max-width: $break_xs) {
    &__nav {
      max-width: none;
      left: -600px;
    }
    &__items {
      li {
        a {
          font-size: 16px;
        }
      }
    }
    &__buttons {
      .btn {
        width: 100%;
        min-width: 0;
      }
    }
  }
}

// stiky menu
#headerSticky {
  @media (min-width: $break_md + 1) {
    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      animation: showStyky 0.5s;
      background-color: rgba(0,0,0,0.35);
      .header__top {
        margin-top: -50px;
      }
      .header__bottom {
        padding: 15px 0;
      }
    }
  }
}
@keyframes showStyky {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0)
  }
}
/* /header */