/* header */
.header { 
  width: 100%;
  color: #fff;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  a {
    color: #fff;
  }
  &__top {
    padding: 12px 0;
    background-color: rgba(0, 0, 0, 0.35);
    transition: .3s;
    .wrapper {
      display: flex;
      align-items: center;
      max-width: 1500px;
    }
  }
  &__address {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 14px;
    fill: #fff;
    white-space: nowrap;
    svg {
      width: 15px;
      height: 15px;
      margin-right: 10px;
      flex-shrink: 0;
    }
    a {
      margin-left: 10px;
      border-bottom: 1px solid #fff;
      &:hover {
        
      }
    }
  }
  &__items {
    display: flex;
    align-items: center;
    li {
      margin-left: 30px;
      a {
        display: flex;
        align-items: center;
        margin-right: auto;
        font-size: 16px;
        fill: #fff;
        white-space: nowrap;
        svg {
          width: 15px;
          height: 15px;
          margin-right: 10px;
          flex-shrink: 0;
        }
        @media (min-width: $break_md + 1) {
          position: relative;
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%,0);
            transition: .3s;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &__price {
    
  }
  &__tel {
    
  }
  &__whatsapp {
    
  }
  &__callback {
    
  }
  &__social {
    display: flex;
    align-items: center;
    &--mobile {
      display: none;
    }
  }
  &__social-icon {
    margin-left: 12px;
    fill: #fff;
    transition: .3s;
    svg {
      display: block;
      width: 15px;
      height: 15px;
    }
    @media (min-width: $break_md + 1) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__bottom {
    padding: 28px 0;
    .wrapper {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  &__logo-link {
    display: block;
    max-width: 200px;
    margin-right: 16px;
  }
  &__logo-text {
    font-size: 14px;
  }
  &__nav {
    
  }
  &__list {
    display: flex;
    align-items: center;
    margin-right: -14px;
    font-size: 18px;
    li {
      margin: 0 14px;
      a {
        @media (min-width: $break_md + 1) {
          position: relative;
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%,0);
            transition: .3s;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &__hamburger {
    display: none;
  }
  &__close-menu {
    display: none;
  }
  @media (max-width: $break_xl) {
    &__logo {
      display: block;
    }
  }
  @media (max-width: $break_lg) {
    &__list {
      font-size: 16px;
      li {
        margin: 0 10px;
      }
    }
  }
  @media (max-width: $break_md) {
    display: flex;
    flex-direction: column;
    &__top {
      order: 1;
      background: transparent;
      padding-top: 150px;
      .wrapper {
        flex-direction: column;
      }
    }
    &__bottom {
      width: 100%;
      padding: 5px 0;
      background-color: rgba(0, 0, 0, 0.35);
      position: fixed;
    }
    &__address {
      flex-direction: column;
      justify-content: center;
      margin-right: 0;
      order: 1;
      text-shadow: 0px 1px 1px #000;
      a {
        margin-top: 10px;
      }
      svg {
        display: none;
      }
    }
    &__items {
      justify-content: center;
      flex-wrap: wrap;
      li {
        margin-left: 0;
        text-align: center;
        a {
          display: inline-block;
          font-size: 24px;
          text-shadow: 0px 1px 1px #000;
          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    &__price {
      width: 100%;
      order: 1;
      margin-bottom: 30px;
    }
    &__tel {
      width: 100%;
      margin-bottom: 30px;
      a {
        font-size: 28px !important;
      }
      svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
    &__whatsapp {
      width: 50%;
      margin-bottom: 30px;
      a {
        color: $green;
        fill: $green !important;
      }
    }
    &__callback {
      width: 50%;
      margin-bottom: 30px;
      a {
        fill: $green !important;
      }
    }
    &__hamburger {
      display: block;
      padding-right: 0;
    }
    &__nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      padding: 70px 20px 20px;
      background-color: $gray;
      box-shadow: 0 0 30px rgba(0, 0, 0, .7);
      position: fixed;
      top: 0;
      bottom: 0;
      left: -500px;
      z-index: 12;
      transition: 0.3s;
      &.open {
        left: 0;
      }
    }
    &__list {
      display: block;
      flex-grow: 1;
      font-size: 25px;
      overflow-y: auto;
      li {
        margin: 0;
        a {
          display: block;
          padding: 10px 0;
          color: $text;
        }
      }
    }
    &__close-menu {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 20px;
      right: 20px;
      &:after,&:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $text;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      &:after {
        transform: translate(-50%,-50%) rotate(45deg);
      }
      &:before {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }
    &__social {
      padding-top: 10px;
      &--mobile {
        display: flex;
      }
      &--desktop {
        display: none;
      }
    }
    &__social-icon {
      margin-left: 0;
      margin-right: 10px;
      svg {
        width: 24px;
        height: 24px;
        fill: $text;
      }
    }
  }
  @media (max-width: $break_xs) {
    &__nav {
      max-width: none;
      left: -600px;
    }
    &__items {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

// stiky menu
#headerSticky {
  @media (min-width: $break_md + 1) {
    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      animation: showStyky 0.5s;
      background-color: rgba(0,0,0,0.35);
      .header__top {
        margin-top: -50px;
      }
      .header__bottom {
        padding: 15px 0;
      }
    }
  }
}
@keyframes showStyky {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0)
  }
}
/* /header */