/* page-head */
.page-head { 
  min-height: 393px;
  padding-top: 175px;
  position: relative;
  margin-bottom: 20px;
  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__smoke {
    height: 260px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 2;
    img {
      max-width: none;
      min-width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,0);
    }
  }
  &__title {
    font-size: 50px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    z-index: 3;
  }
  &__mobile {
    display: none;
  }
  @media (max-width: $break_md) {
    padding-top: 120px;
    &__mobile {
      display: block;
      position: relative;
      z-index: 2;
    }
    &__items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        margin-left: 0;
        text-align: center;
        a {
          display: inline-block;
          font-size: 24px;
          text-shadow: 0px 1px 1px #000;
          color: #fff;
          svg {
            width: 18px;
            height: 18px;
            margin-right: 5px;
          }
        }
      }
    }
    &__tel {
      width: 100%;
      margin-bottom: 20px;
      fill: #fff;
      a {
        font-size: 28px !important;
      }
      svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
    &__whatsapp {
      width: 50%;
      margin-bottom: 20px;
      a {
        color: $green !important;
        fill: $green !important;
      }
    }
    &__callback {
      width: 50%;
      margin-bottom: 20px;
      a {
        fill: $green !important;
      }
    }
  }
  @media (max-width: $break_sm) {
    &__title {
      font-size: 40px;
    }
  }
  @media (max-width: $break_xs) {
    &__title {
      font-size: 30px;
    }
    &__items {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}
/* /page-head */