/* sales */
.sales { 
  margin-bottom: 30px;
  &__container {
    
  }
  &__slider {
    @include col(8);
    @include col-md(12);
    overflow: hidden;
    position: relative;
  }
  &__banner {
    height: 420px;
    position: relative;
  }
  &__content {
    max-width: 340px;
    height: 100%;
    padding: 30px 10px 60px 50px;
    background-color: $red;
    color: #fff;
    position: relative;
    z-index: 2;
    &:after {
      content: '';
      display: block;
      width: 200px;
      height: 100%;
      background: linear-gradient(to right bottom, $red 50%, transparent 50.5%);
      position: absolute;
      top: 0;
      left: 100%;
    }
  }
  &__title {
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 17px;
  }
  &__text {
    font-size: 25px;
    margin-bottom: 20px;
  }
  &__link {
    display: block;
    font-size: 35px;
    text-decoration: underline;
    color: #fff;
    &:hover {
      color: $gray;
    }
  }
  &__banner-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 330px;
    right: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__pagination {
    .swiper-pagination-bullet {
      opacity: 1;
      background-color: $gray;
    }
    .swiper-pagination-bullet-active {
      background-color: $text;
    }
  }
  &__images {
    @include col(4);
  }
  &__images-col {
    width: 100%;
    height: 50%;
    &:nth-child(1) {
      padding-bottom: 10px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--sertificate {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #679faf;
      font-size: 35px;
      color: #fff;
      text-align: center;
    }
  }
  @media (max-width: $break_lg) {
    &__banner {
      height: 350px;
    }
    &__content {
      width: 300px;
      &:after {
        width: 150px;
      }
    }
    &__title {
      font-size: 80px;
    }
    &__text {
      font-size: 20px;
    }
    &__link {
      font-size: 26px;
    }
    &__banner-img {
      left: 200px;
    }
  }
  @media (max-width: $break_md) {
    &__banner-img {
      left: 10%;
    }
    &__images {
      display: flex;
      width: 100%;
      margin-top: 10px;
    }
    &__images-col {
      height: 100%;
      width: 50%;
      &:nth-child(1) {
        padding-bottom: 0;
        padding-right: 10px;
      }
    }
  }
  @media (max-width: $break_sm) {
    &__img {
      &--sertificate {
        font-size: 25px;
      }
    }
  }
  @media (max-width: $break_xs) {
    &__banner {
      height: 270px;
    }
    &__banner-img {
      left: 40%;
    }
    &__content {
      width: 200px;
      padding: 20px 10px 20px 30px;
      &:after {
        width: 100px;
      }
    }
    &__title {
      font-size: 50px;
    }
    &__text {
      font-size: 16px;
    }
    &__link {
      font-size: 20px;
    }
    &__images {
      display: block;
    }
    &__images-col {
      height: 270px;
      width: 100%;
      &:nth-child(1) {
        padding-right: 0;
        padding-bottom: 10px;
      }
    }
  }
}
/* /sales */