/* title */
.title { 
  font-size: 50px;
  color: $text;
  text-align: center;
  &__divider {
    display: flex;
    align-items: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    fill: $brown;
    &:after {
      content: '';
      display: block;
      flex-grow: 1;
      height: 3px;
      background-color: $brown;
    }
    svg {
      width: 35px;
      height: 35px;
      margin: 0 20px;
      flex-shrink: 0;
    }
    &:before {
      content: '';
      display: block;
      flex-grow: 1;
      height: 3px;
      background-color: $brown;
    }
  }
}
/* /title */